{% extends "layout.html" %}
{% set active_page = "expo" %}

{% block content %}

<div class="jumbotron banner-image padding-xs-0">
  <h1>3D Dust Mapping</h1>
  <h2>with Pan-STARRS 1</h2>
  
  <div class="container-fluid">
    <div class="row v-margins-extra padding-xs-0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        
        <div class="row">
          <div class="col-xs-4 padding-xs-5 col-sm-4 col-md-4 h-center">
            <a href="/query" class="top-link">
              <h2>Query Map</h2>
              <i class="fa fa-search fa-3x"></i>
            </a>
          </div>
          
          <div class="col-xs-4 padding-xs-5 col-sm-4 col-md-4 h-center">
            <a href="/usage" class="top-link">
              <h2>Download & API</h2>
              <i class="fa fa-cloud-download fa-3x"></i>
            </a>
          </div>
          
          <div class="col-xs-4 padding-xs-5 col-sm-4 col-md-4 h-center">
            <a href="http://www.arxiv.org/abs/1507.01005" class="top-link">
              <h2>Read Paper</h2>
              <i class="fa fa-file fa-3x"></i>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid block-color">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="page-header">
        <h1>The Map</h1>
      </div>
      
      <p class="h-center">We present a 3D map of interstellar dust reddening. Using 800 million stars with <a href="http://pan-starrs.ifa.hawaii.edu/public/">Pan-STARRS 1</a> photometry, and matched <a href="http://www.ipac.caltech.edu/2mass/">2MASS</a> photometry for 200 million stars, the map traces dust reddening in three dimensions across three-quarters of the sky.</p>
      <div class="bottom-line"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="page-header">
        <h1>Volume Renderings</h1>
      </div>
      
      <p class="h-center">Volume renderings of the inferred dust opacity, moving the camera through the Galaxy on different trajectories.</p>
      <div class="bottom-line"></div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="row hidden-xs hidden-sm hidden-md">
        <div class="col-lg-4 h-center">
          <h2>Local Dust</h2>
          <p>Looking towards the Galactic anticenter.</p>
        </div>
        
        <div class="col-lg-4 h-center">
          <h2>Orbiting the Sun</h2>
          <p>A 150-pc loop around the Sun.</p>
        </div>
        
        <div class="col-lg-4 h-center">
          <h2>A Tour of the Galaxy</h2>
          <p>A several-kpc loop through and out of the Galactic plane.</p>
        </div>
      </div>
      
      <div class="row" id="videos">
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Local Dust</h2>
          <p>Looking towards the Galactic anticenter.</p>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/local_dust/local_dust_rand2_avg10" data-res="1920x1440 1024x768 960x720" data-loop></div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Orbiting the Sun</h2>
          <p>A 150-pc loop around the Sun.</p>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/circle_local_wide_v2/circle_local_wide_v2" data-res="1920x1440 1024x768 960x720" data-loop></div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>A Tour of the Galaxy</h2>
          <p>A several-kpc loop through and out of the Galactic plane.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/simple_loop/simple-loop-att-v2" data-res="1920x1440 1024x768 960x720" data-loop></div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div id="trigger-appear" class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="page-header">
        <h1>Cumulative Reddening vs. Distance</h1>
      </div>
      
      <p class="h-center">The following videos show cumulative reddening out to increasing distances, in select regions of the sky. Each frame shows a different statistical realization of the map, so that the noise in each pixel shows the uncertainty in reddening. The graticules show Galactic longitude and latitude.</p>
      <div class="bottom-line"></div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="row hidden-xs hidden-sm hidden-md">
        <div class="col-lg-4 h-center">
          <h2>Aquila South</h2>
        </div>
        
        <div class="col-lg-4 h-center">
          <h2>Galactic Plane</h2>
        </div>
        
        <div class="col-lg-4 h-center">
          <h2>Galactic Anticenter</h2>
        </div>
      </div>
      
      <div class="row" id="videos">
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Aquila South</h2>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/2D/AqS/AqS.piecewise.sample" data-res="1920x1280 1280x864 960x640"></div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Galactic Plane</h2>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/2D/l50-100/l50-100.piecewise.sample" data-res="1920x1280 1280x864 960x640"></div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Galactic Anticenter</h2>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/2D/anticenter/anticenter.piecewise.sample" data-res="1920x1344 1280x896 960x672"></div>
        </div>
      </div>
    </div>
    
    <!--
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 hidden-xs hidden-sm hidden-md">
      <div class="bottom-line v-margin-top-extra"></div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="row hidden-xs hidden-sm hidden-md">
        <div class="col-lg-4 h-center">
          <h2>Ophiucus</h2>
        </div>
        
        <div class="col-lg-4 h-center">
          <h2>Perseus, Taurus &#38 California</h2>
        </div>
      </div>
      
      <div class="row" id="videos">
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Ophiucus</h2>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/2D/Oph/Oph.piecewise.sample" data-res="1920x1280 1280x864 960x640"></div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg h-center">
          <h2>Perseus, Taurus &#38 California</h2>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 h-center">
          <div class="video-placeholder" data-src="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/videos/2D/PerTaurAur/PerTaurAur.piecewise.sample" data-res="1920x1280 1280x864 960x640"></div>
        </div>
      </div>
    </div>
    -->
    
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 h-center">
      <div class="page-header">
        <h1>The Authors</h1>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 h-center author-col">
          <img id="banner-image" src="{{ url_for('static', filename='media/Greg.jpg') }}" class="img-circle img-responsive author-image">
          <a href="http://greg.ory.gr/een"><h3>Gregory Green</h3></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 h-center author-col">
          <img id="banner-image" src="{{ url_for('static', filename='media/Eddie.jpg') }}" class="img-circle img-responsive author-image">
          <a href="http://www.mpia.de/homes/schlafly/"><h3>Eddie Schlafly</h3></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 h-center author-col">
          <img id="banner-image" src="{{ url_for('static', filename='media/Doug.jpg') }}" class="img-circle img-responsive author-image">
          <a href="http://nebel.rc.fas.harvard.edu/dfink/"><h3>Douglas Finkbeiner</h3></a>
        </div>
      </div>
      
      <div class="bottom-line"></div>
    </div>
  </div>
  
  <div class="row v-padding-extra">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 h-center">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/MovingImage" property="dct:title" rel="dct:type">The above videos of Milky Way dust</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://greg.ory.gr/een" property="cc:attributionName" rel="cc:attributionURL">Gregory M. Green</a> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </div>
  </div>
</div>

<!--
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.12/video.js"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js"></script>

<script src="{{ url_for('static', filename='js/expopage.js')  }}"></script>

{% endblock %}
