{% extends "layout.html" %}
{% set active_page = "query" %}

{% block content %}

<div class="container-fluid">
  <div class="row black">
    
    <div class="col-xs-12 col-sm-6 col-md-6 padding-xs-5 green">
      <div class="input-group">
        <span class="input-group-addon"><i>&#x2113</i></span>
        <input name="gal-l" type="text" class="form-control" placeholder="lon. (&deg)">
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 padding-xs-5 blue">
      <div class="input-group">
        <span class="input-group-addon"><i>b</i></span>
        <input name="gal-b" type="text" class="form-control" placeholder="lat. (&deg)">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="submit-btn">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
      </span>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 brown">
      <h1>Interactive Line Plot</h1>
      <div class="box-aspect-2-1">
        <div class="line-plot-container"></div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 cyan">
      <h1>Postage Stamps</h1>
      
      <div class="row">
        <div class="thumbnail col-xs-12 col-sm-4 red">
          <img id="postage-stamp-1" src="" class="img-responsive" />
          <h4 id="ps-label-1" class="ps-label"></h4>
        </div>
        <div class="thumbnail col-xs-12 col-sm-4 red">
          <img id="postage-stamp-2" src="" class="img-responsive" />
          <h4 id="ps-label-2" class="ps-label"></h4>
        </div>
        <div class="thumbnail col-xs-12 col-sm-4 red">
          <img id="postage-stamp-3" src="" class="img-responsive" />
          <h4 id="ps-label-3" class="ps-label"></h4>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script type=text/javascript>
  $(document).ready(function() {
    
    var drawplot = function(container, xdata, ydata) {
      $(container).empty();
      //d3.select("svg").remove();
      
      var fullwidth = $(container).width(),
          fullheight = $(container).height();
      
      scaling = d3.max([0.5, fullwidth/600]);
      scaling = d3.min([2, scaling]);
      
      console.log("scaling: " + scaling);
      
      labelsize = 14 * scaling;
      ticksize = 12 * scaling;
      
      var margins = {left:70*scaling, right:20*scaling,
                     bottom:80*scaling, top:20*scaling};
      
      var width = fullwidth - margins.left - margins.right,
          height = fullheight - margins.bottom - margins.top;
      
      var x = d3.scale.linear()
        .domain(d3.extent(mu))
        .range([0, width]);
      
      var y = d3.scale.linear()
        .domain([0, d3.max(EBV)])
        .range([height, 0]);
      
      var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
      
      var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");
      
      var line = d3.svg.line()
        .x(function(d) { return x(d[0]); })
        .y(function(d) { return y(d[1]); });
      
      var svg = d3.select(".line-plot-container").append("svg")
        .attr("width", fullwidth)
        .attr("height", fullheight)
        .attr("viewBox", "0 0 " + fullwidth + " " + fullheight)
        //.attr("width", "100%")
        //.attr("height", "100%")
        //.attr("viewBox", "0 0 " + (width + margins.left + margins.right) + " " + (height + margins.bottom + margins.top))
        //"-" + margins.left + " -" + margins.bottom + " " + (width + margins.right) + " " + (height + margins.top))
        //.attr("preserveAspectRatio", "xMinYMin")
        .append("g")
          .attr("transform", "translate(" + margins.left + "," + margins.top + ")");
      
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
        .append("text")
          .attr("dy", (3.4*ticksize) + "pt")
          .text("Distance Modulus (mags)");
      
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 0)
          .attr("dy", (-3.4*ticksize) + "pt")
          .style("text-anchor", "end")
          .text("E(B-V) (mags)");
      
      svg.append("path")
        .data([d3.zip(xdata,ydata)])
        .attr("class", "line")
        .attr("d", line);
      
      d3.selectAll(".tick > text")
        .style("font-size", ticksize + "pt")
        .style("font-family", "Droid Sans");
      
      d3.selectAll(".axis > text")
        .style("font-size", labelsize + "pt")
        .style("font-family", "Droid Sans");
    };
    
    var debounce = function(fn, timeout) {
      var timeoutID = -1;
      return function() {
        if (timeoutID > -1) {
          window.clearTimeout(timeoutID);
        }
        timeoutID = window.setTimeout(fn, timeout);
      }
    };
    
    lineplotcontainer = $(".line-plot-container");
    
    mu = [4, 19];
    EBV = [0, 0];
    
    drawplot(lineplotcontainer, mu, EBV);
    
    $(function() {
      $("#submit-btn").click(function() {
        data = {
                 l: $('input[name="gal-l"]').val(),
                 b: $('input[name="gal-b"]').val()
               };
        
        $.ajax({
          type: "POST",
          url: "/gal-lb-query",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),
          success: function(data) {
            console.log(data);
            mu = $.parseJSON(data.mu);
            EBV = $.parseJSON(data.EBV);
            drawplot(lineplotcontainer, mu, EBV);
            $("#postage-stamp-1").attr("src", data.image1);
            $("#postage-stamp-2").attr("src", data.image2);
            $("#postage-stamp-3").attr("src", data.image3);
            $("#ps-label-1").text(data.label1);
            $("#ps-label-2").text(data.label2);
            $("#ps-label-3").text(data.label3);
          }
        });
      });
    });
    
    var debounced_drawplot = debounce(function() {
      drawplot(lineplotcontainer, mu, EBV);
    }, 125);
    
    $(window).resize(debounced_drawplot);
    
  });
</script>

{% endblock %}
