{% extends "layout.html" %}
{% set active_page = "query" %}

{% block content %}

<div class="container-fluid">
  <div class="row black">
    
    <div class="col-xs-12 col-sm-6 col-md-6 padding-xs-5 green">
      <div class="input-group">
        <span class="input-group-addon"><i>&#x2113</i></span>
        <input name="gal-l" type="text" class="form-control" placeholder="lon. (&deg)">
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 padding-xs-5 blue">
      <div class="input-group">
        <span class="input-group-addon"><i>b</i></span>
        <input name="gal-b" type="text" class="form-control" placeholder="lat. (&deg)">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" id="submit-btn">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
      </span>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 brown">
      <h1>Interactive Line Plot</h1>
    </div>
    
    <div class="col-xs-12 col-sm-12 cyan">
      <h1>Postage Stamps</h1>
      
      <div class="row">
        <div class="thumbnail col-xs-12 col-sm-4 red">
          <img id="postage-stamp-1" src="" class="img-responsive" />
          <h4 id="ps-label-1" class="ps-label"></h4>
        </div>
        <div class="thumbnail col-xs-12 col-sm-4 red">
          <img id="postage-stamp-2" src="" class="img-responsive" />
          <h4 id="ps-label-2" class="ps-label"></h4>
        </div>
        <div class="thumbnail col-xs-12 col-sm-4 red">
          <img id="postage-stamp-3" src="" class="img-responsive" />
          <h4 id="ps-label-3" class="ps-label"></h4>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script type=text/javascript>
  $(document).ready(function() {
    
    $(function() {
      $("#submit-btn").click(function() {
        data = {
                 l: $('input[name="gal-l"]').val(),
                 b: $('input[name="gal-b"]').val()
               };
        
        $.ajax({
          type: "POST",
          url: "/gal-lb-query",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),
          success: function(data) {
            console.log(data);
            $("#postage-stamp-1").attr("src", data.image1);
            $("#postage-stamp-2").attr("src", data.image2);
            $("#postage-stamp-3").attr("src", data.image3);
            $("#ps-label-1").text(data.label1);
            $("#ps-label-2").text(data.label2);
            $("#ps-label-3").text(data.label3);
          }
        });
      });
    });
    
  });
</script>

{% endblock %}
