{% extends "layout.html" %}
{% set active_page = "usage" %}

{% block content %}

<div class="jumbotron">
  <h1>Accessing the Map</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="page-header" id="intro">
        <h1>Introductory Notes</h1>
      </div>
      
      <p>Before diving into how you can access the 3D dust map, we'd like to make you aware of a few important points about the dataset.</p>
      
      <div class="page-header" id="units">
        <h2>Units</h2>
      </div>
      
      <p>We use the same definition of <b class="small-space">E(<i>B-V</i> )</b> as the <a href="http://adsabs.harvard.edu/abs/1998ApJ...500..525S">Schlegel, Finkbeiner &#38 Davis (1998)</a> dust map. Although this was originally supposed to be the excess <b class="small-space"><i>B-V</i></b> in the Landolt filter system, <a href="http://adsabs.harvard.edu/abs/2011ApJ...737..103S">Schlafly &#38 Finkbeiner (2011)</a> found that it differs somewhat from the true stellar <b class="small-space"><i>B-V</i></b> excess. Therefore, in order to convert our values of <b class="small-space">E(<i>B-V</i> )</b> to extinction in various filter systems, consult <a href="http://iopscience.iop.org/0004-637X/737/2/103/article#apj398709t6">Table 6 of Schlafly &#38 Finkbeiner (2011)</a>.</p>
      
      <div class="page-header" id="samples">
        <h2>Samples</h2>
      </div>
      
      <p>For each sightline, we provide multiple estimates of the distance vs. reddening relationship. Alongside the maximum-probability density estimate (essentially, the best-fit) distance-reddening curve, we also provide samples of the distance-reddening curve, which are representative of the formal uncertainty in the relation. Most statistics you may wish to derive, like the median reddening to a given distance, are best determined by using the representative samples, rather than the best-fit relation.</p>
      
      <div class="page-header" id="QA">
        <h2>Quality Assurance</h2>
      </div>
      
      <p>We include a number of pieces of information on the reliability of each pixel. A <b>convergence flag</b> marks whether our fit to the line-of-sight reddening curve converged. This is a formal indicator, meaning that we correctly sampled the spread of possible distance-reddening relations, given our model assumptions. It does not, however, indicate that our model assumptions were correct for that pixel. This convergence flag is based on the <a href="http://dx.doi.org/10.1214/ss/1177011136">Gelman-Rubin diagnostic</a>, a method of flagging Markov Chain Monte Carlo non-convergence.</p>
      
      <p>Additionally, <b>minimum and maximum reliable distances</b> are provided for each pixel, based on the distribution of stars along the sightline. Because we determine the presence of dust by observing differential reddening of foreground and background stars, we cannot trace dust beyond the farthest stars in a given pixel. Our estimates of dust reddening closer than the nearest observed stars in a pixel are similarly uncertain. We therefore urge caution in using our maps outside of the distance range indicated for each pixel.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 -col-md-offset-1 col-lg-8 col-lg-offset-2">
      
      <div class="page-header" id="API">
        <h1>Query Server Directly from Your Code</h1>
      </div>
      
      <p>You can query the Argonaut web server directly from your code, without having to download the full map to your local disk. If you're not interested in playing around with the entire map, this is the way we recommend you access it.</p>
      
      <span>In</span>
      <div class="dropdown language-dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" href="#" id="language-dropdown">
          <span id="lang-dropdown-label">Python 2.7+</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="language-dropdown">
          <li><a class="language-link" role="menuitem" tabindex="-1" data-target="API-python-2x" href="#">Python 2.7+</a></li>
          <li><a class="language-link" role="menuitem" tabindex="-1" data-target="API-IDL" href="#">IDL</a></li>
        </ul>
      </div>
      <span>, the following function will call the Argonaut server and return the line-of-sight reddening for any coordinates, or set of coordinates, on the sky:</span>
      
      <div class="extra-margin-top language-toggle-parent">
        <div class="API-python-2x language-toggle add-click-select">
          {{snippets.map_query_API['python-2.x']|safe}}
        </div>
        <div class="API-IDL hidden language-toggle add-click-select">
          {{snippets.map_query_API['IDL']|safe}}
        </div>
      </div>
      
      <p>This code can be adapted for any programming language that can issue HTTP POST requests.</p>
      
      <div class="page-header">
        <h2>Example Usage</h2>
      </div>
      
      <p>To query one sightline, say, Galactic coordinates (&#8467, <i>b</i>) = (90&#176, 10&#176), you would call</p>
      
      <div class="extra-margin-top language-toggle-parent">
        <div class="API-python-2x language-toggle">
          {{snippets.map_query_API_example_single['python-2.x']|safe}}
        </div>
        <div class="API-IDL hidden language-toggle">
          {{snippets.map_query_API_example_single['IDL']|safe}}
        </div>
      </div>
      
      <p>You can also query multiple sightlines simultaneously, simply by passing longitude and latitude as lists:</p>
      
      <div class="extra-margin-top language-toggle-parent">
        <div class="API-python-2x language-toggle">
          {{snippets.map_query_API_example_multiple['python-2.x']|safe}}
        </div>
        <div class="API-IDL hidden language-toggle">
          {{snippets.map_query_API_example_multiple['IDL']|safe}}
        </div>
      </div>
      
      <p>If you are going to be querying large numbers of sightlines at once, we kindly request that you use this batch syntax, rather than calling <code>query()</code> in a loop. It will be faster, because you only have to contact the server once, and it will reduce the load on the Argonaut server.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 -col-md-offset-1 col-lg-8 col-lg-offset-2">
      
      <div class="page-header" id="download">
        <h1>Download Data Cube</h1>
      </div>
      
      <p>The entire 3D map can be downloaded in two different formats:</p>
      <ul>
        <li><a href="http://faun.rc.fas.harvard.edu/pan1/ggreen/argonaut/data/dust-map-3d.h5">HDF5 <span class="smaller-text">(4.5 GB download)</span></li>
        <li><a href="#">FITS</a></li>
      </ul>
      <p>The full map comes to over 4.5 GB in compressed HDF5 format, so if you're only interested in individual sightlines, we strongly recommend you use <a href="#API">our web API</a>, which you can include directly as a function call in a number of programming languages.</p>
      
      <div class="page-header">
        <h2>Reading HDF5 Data Cube</h2>
      </div>
      
      <p>The <a href="https://en.wikipedia.org/wiki/Hierarchical_Data_Format">HDF5 format</a> is a self-documenting, highly flexible format for scientific data. It has a number of powerful features, such as internal compression and compound datatypes (similar to <a href="http://docs.scipy.org/doc/numpy/user/basics.rec.html">numpy structured arrays</a>), and has bindings in many different programming languages, including C, Python, Fortran and IDL.</p>
      
      <p>The HDF5 file we provide has four datasets:</p>
      <ul>
        <li><b>&#47pixel_info</b> : pixel locations and metadata.</li>
        <li><b>&#47samples</b> : samples of distance vs. reddening profile in each pixel.</li>
        <li><b>&#47best_fit</b> : best-fit distance vs. reddening profile in each pixel.</li>
        <li><b>&#47GRDiagnostic</b> : Gelman-Rubin convergence diagnostic in each pixel.</li>
      </ul>
      
      <p>All four datasets are ordered in the same way, so that the n<sup>th</sup> element of the <b>&#47samples</b> dataset corresponds to the same pixel as described by the n<sup>th</sup> entry in <b>&#47pixel_info</b>. As our 3D dust map contains pixels of different sizes, <b>&#47pixel_info</b> specifies each pixel by a HEALPix <code>nside</code> and nested pixel index.
      
      <p>An example in Python will help illustrate the structure of the file:</p>
      
      {{snippets.h5_open_example|safe}}
      
      <div class="page-header">
        <h2>Example Usage</h2>
      </div>
      
      <p>As a simple example of how to work with the full data cube, we will plot the median reddening in the farthest distance bin. We begin by opening the HDF5 file and extracting the information we need:</p>
      
      {{snippets.reindex_example[0]|safe}}
      
      <p>The variable <code>pix_info</code> specifies the location of each pixel (by <code>nside</code> and <code>healpix_index</code>), while <code>EBV_far_median</code> contains the median reddening in each pixel in the farthest distance bin. We want to construct a single-resolution HEALPix map, which we can use standard library routines to plot.</p>
      
      <p>We find the maximum <code>nside</code> present in the map, and create an empty array, <code>pix_val</code>, to house the upsampled map:</p>
      
      {{snippets.reindex_example[1]|safe}}
      
      <p>Now, we have to fill the upsampled map, by putting every pixel in the original map into the correct location(s) in the upsampled map. Because our original map has multiple resolutions, pixels that are below the maximum resolution correspond to multiple pixels in the upsampled map. We loop through the <code>nside</code> resolutions present in the original map, placing all the pixels of the same resolution into the upsampled map at once:</p>
      
      {{snippets.reindex_example[2]|safe}}
      
      <p>Now we have an array, <code>pix_val</code>, that represents reddening in the farthest distance bin. We can use one of <a href="http://healpy.readthedocs.org/en/latest/index.html">healpy's</a> built-in visualization functions to plot the map:</p>
      
      {{snippets.reindex_example[3]|safe}}
      
      <p>Here's the resulting map. Note that it's centered on (&#8467, <i>b</i>) = (130&#176, 0&#176):</p>
      <div class="thumbnail">
        <img src="{{ url_for('static', filename='media/healpy-plot-example-1800.jpg') }}" class="img-responsive" />
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 -col-md-offset-1 col-lg-8 col-lg-offset-2">
      
      <div class="page-header" id="license">
        <h1>License</h1>
      </div>
      
      <p>All code snippets included on this page are covered by the <a href="{{ url_for('static', filename='snippet-license.txt') }}">MIT License</a>. In other words, feel free to use the code provided here in your own work.</p>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/usagepage.js')  }}"></script>

{% endblock %}
