{% extends "layout.html" %}
{% set active_page = "usage" %}

{% block content %}

<div class="jumbotron">
  <h1>Accessing the Map</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 -col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="page-header" id="intro">
        <h1>Introductory Notes</h1>
      </div>
      
      <p>Before diving into how you can access the 3D dust map, we'd like to make you aware of a few important points about the dataset.</p>
      
      <div class="page-header" id="units">
        <h2>Units</h2>
      </div>
      
      <p>We use the same definition of <b class="small-space">E(<i>B-V</i> )</b> as the <a href="http://adsabs.harvard.edu/abs/1998ApJ...500..525S">Schlegel, Finkbeiner &#38 Davis (1998)</a>. Although this was originally supposed to the excess <b class="small-space"><i>B-V</i></b> in the Landolt filter system, <a href="http://adsabs.harvard.edu/abs/2011ApJ...737..103S">Schlafly &#38 Finkbeiner (2011)</a> found that it differs somewhat from the true stellar <b class="small-space"><i>B-V</i></b> excess. Therefore, in order to convert our values of <b class="small-space">E(<i>B-V</i> )</b> to extinction in various filter systems, consult Table 6 of Schlafly &#38 Finkbeiner (2011).</p>
      
      <div class="page-header" id="units">
        <h2>Samples</h2>
      </div>
      
      <p>For each sightline, we provide multiple more than one estimate of the distance vs. reddening relationship. First, we provide the maximum-probability density estimate (essentially, the best-fit) distance-reddening curve. We also provide samples of the distance-reddening curve, which are representative of the formal uncertainty in the relation. Most statistics you may wish to derive, like the median reddening to a given distance, are best determined by using the representative samples, rather than the best-fit relation.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 -col-md-offset-1 col-lg-8 col-lg-offset-2">
      
      <div class="page-header" id="API">
        <h1>Query Server Directly from Your Code</h1>
      </div>
      
      <p>You can query the Argonaut web server directly from your code, without having to download the full map to your local disk. If you're not interested in playing around with the entire map, this is the way we recommend you access it.</p>
      <p>In Python, the following function will call the Argonaut server and return the line-of-sight reddening for any coordinates, or set of coordinates, on the sky:</p>
      
      {{snippets.map_query_API|safe}}
      
      <p>This code can be adapted for any programming language that can issue HTTP POST requests.</p>
      
      <div class="page-header">
        <h2>Example Usage</h2>
      </div>
      
      <p>To query one sightline, say, (&#8467, <i>b</i>) = (90&#176, 10&#176), you would call</p>
      
      {{snippets.map_query_API_example_single|safe}}
      
      <p>You can also query multiple sightlines simultaneously, simply by passing &#8467 and <i>b</i> as arrays:</p>
      
      {{snippets.map_query_API_example_multiple|safe}}
      
      <p>If you are going to be querying large numbers of sightlines at once, we kindly request that you use this batch syntax, rather than calling <code>query()</code> in a loop. It will be faster, because you only have to contact the server once, and it will reduce the load on the Argonaut server.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 -col-md-offset-1 col-lg-8 col-lg-offset-2">
      
      <div class="page-header" id="Download">
        <h1>Download Data Cube</h1>
      </div>
      
      <p>The entire 3D map can be downloaded in two different formats:</p>
      <ul>
        <li><a href="#">HDF5</a></li>
        <li><a href="#">FITS</a></li>
      </ul>
      <p>The full map comes to over 3 GB in compressed HDF5 format, so if you're only interested in individual sightlines, we strongly recommend you use <a href="#API">our web API</a>, which you can include directly as a function call in a number of programming languages.</p>
      
      <div class="page-header">
        <h2>Reading HDF5 Data Cube</h2>
      </div>
      
      <p>The <a href="https://en.wikipedia.org/wiki/Hierarchical_Data_Format">HDF5 format</a> is a self-documenting, highly flexible format for scientific data. It has a number of powerful features, such as internal compression and compound datatypes (similar to <a href="http://docs.scipy.org/doc/numpy/user/basics.rec.html">numpy structured arrays</a>), and has bindings in many different programming languages, including C, Python, Fortran and IDL.</p>
      <p>The HDF5 file we provide has two datasets, <b>&#47locations</b> and <b>&#47piecewise</b>, which contain, respectively, information on the pixel locations and the line-of-sight reddening in each pixel.</p>
      <p>As our 3D dust map contains pixels of different sizes, we specify each pixel by a HEALPix <code>nside</code> and nested pixel index. Each entry along the first axis in the <b>&#47piecewise</b> dataset contains data about a different pixel, with the pixels arranged in the same order as in <b>&#47locations</b>.</p>
      <p>An example in Python will help illustrate the structure of the file.</p>
      
      {{snippets.h5_open_example|safe}}
      
  </div>
</div>

{% endblock %}
