
.red {
  background: #f00;
}

.green {
  background: #0f0;
}

.blue {
  background: #00f;
}

.gray {
  background: #888;
}

.black {
  background: #000;
}

.brown {
  background: #a52;
}

.cyan {
  background: #0ff;
}


.ps-label {
  text-align: center;
}

/* xs */
@media (max-width: 767px) {
  .padding-xs-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
