
body {
  padding-bottom: 0px;
}

html {
  background-color:#EDF2F7;
}

div {
  background:#EDF2F7;
}

/*
.red {
  background: #f00;
}

.green {
  background: #0f0;
}

.blue {
  background: #00f;
}

.gray {
  background: #888;
}

.black {
  background: #000;
}

.brown {
  background: #a52;
}

.cyan {
  background: #0ff;
}
*/

.ps-img {
  background-color: rgb(202,222,219);
}

h1, h2, h3, h4 {
  font-family: "Lora", serif;
}

h1 {
  text-align: center;
}

.alert h3 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.alert h4 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.alert {
  margin-top: 10px;
}

.ps-label {
  text-align: center;
  font-family: "Lora", serif;
}

.fancy-serif {
  font-family: "Lora", serif;
}

.bottom-spacer {
  margin-bottom: 20px;
}


/*
 * Container divs
 */

.line-plot-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.box-aspect-2-1 {
  position: relative;
  width: 100%;
}

.box-aspect-2-1:before{
  content: "";
  display: block;
  padding-top: 50%; /* initial ratio of 2:1*/
}

.expand-left {
  width: auto;
  overflow: hidden;
}

.fixed-right {
  float: right;
}


/* d3 Properties */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2.5px;
}

.line {
  fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.ps-text {
  font-family: "Cousine";
  font-weight: 400;
  fill: #C2E3FF; /* #C2E3FF; */
  stroke: white;
  stroke-width: 0.05pt;
}

.ps-text-bg {
  fill: black;
  stroke: #C2E3FF;
  stroke-width: 1.5pt;
  opacity: 0.5;
}


/*
 * Media queries
 */

/* xs */
@media (max-width: 767px) {
  .padding-xs-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-xs-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-xs-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-xs-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .padding-xs-left-0 {
    padding-left: 0px;
  }
  
  .padding-xs-right-0 {
    padding-right: 0px;
  }
  
  .padding-xs-left-5 {
    padding-left: 5px;
  }
  
  .padding-xs-right-5 {
    padding-right: 5px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 14pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 10pt;
  }
}

/* sm */
@media (min-width: 768px) {
  .padding-sm-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-sm-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-sm-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-sm-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .padding-sm-right-5 {
    padding-right: 5px;
  }
  
  .padding-sm-right-15 {
    padding-right: 15px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 16pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 12pt;
  }
  
  .popover {
    max-width: 300px;
  }
}

/* md */
@media (min-width: 992px) {
  .padding-md-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-md-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-md-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-md-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 18pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 14pt;
  }
  
  .popover {
    max-width: 450px;
  }
}


/* lg */
@media (min-width: 1200px) {
  .padding-lg-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-lg-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-lg-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-lg-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 20pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 15pt;
  }
  
  .popover {
    max-width: 500px;
  }
}
