
body {
  padding-bottom: 0px;
  font-family: "Lora", serif;
}

p, li {
  font-size: 14pt;
}

.fontsize-normal {
  font-size: 14pt;
}

.smaller-text {
  font-size: 12pt;
}

.nav>.nav-section>a {
  font-size: 18pt;
  padding-bottom: 5px;
}

.nav>.nav-subsection>a {
  font-size: 14pt;
  margin-left: 25px;
  padding-bottom: 5px;
}

.highlight pre {
  font-size: 12pt;
  overflow: auto;
  /*overflow-y: hidden;*/
  white-space: pre;
  word-wrap: normal;
}

.small-space {
  /*word-spacing: -0.25em;*/
  white-space: nowrap;
  font-kerning: normal;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

div[class^="col-"] {
  background-color: #FAFAFA;
}

/*.highlight {
  position: relative;
}*/

.dropdown-toggle {
  padding-top: 1px;
  padding-bottom: 1px;
}

.language-dropdown {
  margin-left: 2pt;
  display: inline-block;
}

#lang-dropdown-label {
  padding-right: 4pt;
}

.hidden {
  display: none;
}

.extra-margin-top {
  margin-top: 15px;
}

.add-click-select {
  position: relative;
}

.top-right-overlay {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
}

.overlay-msg {
  border: 1px solid #5C8799;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(92,135,153, 0.6);
  padding: 5px 5px 5px 5px;
  margin-right: 5px;
  
  color: #B6E0F2;
  font-weight: bold;
}

.click-select {
  cursor: pointer;
}

.click-select .fa-stack-2x {
  color: #B8CFD9;
  opacity: 0.5;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.click-select:hover .fa-stack-2x {
  color: #5C8799;
  opacity: 0.5;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.click-select .fa-stack-1x {
  color: #0e84b5;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.click-select:hover .fa-stack-1x {
  color: #B6E0F2; /*#0e84b5;*/
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}



/*
html {
  background-color:#EDF2F7;
}

div {
  background:#EDF2F7;
}
*/


/*
 * Media queries
 */

/* xs */
@media (max-width: 767px) {
  .padding-xs-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-xs-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-xs-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-xs-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .padding-xs-left-0 {
    padding-left: 0px;
  }
  
  .padding-xs-right-0 {
    padding-right: 0px;
  }
  
  .padding-xs-left-5 {
    padding-left: 5px;
  }
  
  .padding-xs-right-5 {
    padding-right: 5px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 14pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 10pt;
  }
  
  .highlight pre {
    max-height: 250px;
  }
}

/* sm */
@media (min-width: 768px) {
  .padding-sm-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-sm-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-sm-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-sm-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .padding-sm-right-5 {
    padding-right: 5px;
  }
  
  .padding-sm-right-15 {
    padding-right: 15px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 16pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 12pt;
  }
  
  .popover {
    max-width: 300px;
  }
  
  .highlight pre {
    max-height: 300px;
  }
}

/* md */
@media (min-width: 992px) {
  .padding-md-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-md-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-md-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-md-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 18pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 14pt;
  }
  
  .popover {
    max-width: 450px;
  }
  
  .highlight pre {
    max-height: 400px;
  }
}


/* lg */
@media (min-width: 1200px) {
  .padding-lg-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .padding-lg-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-lg-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-lg-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .popover-title {
    font-family: "Lora", serif;
    font-size: 20pt;
  }
  
  .popover-content {
    font-family: "Lora", serif;
    font-size: 15pt;
  }
  
  .popover {
    max-width: 500px;
  }
  
  .highlight pre {
    max-height: 500px;
  }
}

#nav.affix {
  position: fixed;
  top: 0;
  /*width: 100%;*/
  z-index: 2;
}
